/* font family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.primary-text {
    color: #131318;
}

.secondary-text {
    color: #5A5A5D;
}

.btn-primary {
    font-weight: 700;
    background-color: #FF5400;
    padding: 16px 35px;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
}

/* nav section style  */
nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.company-title {
    font-size: 36px;
    font-weight: 800;
}

.nav-items {
    display: flex;
    gap: 44px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.toggle-bar {
    display: none;
}

/* banner style */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    padding: 106px 0;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-description {
    color: #ffffff;
    margin-bottom: 48px;
}

.location-search {
    padding: 16px;
    background-color: #ffffff70;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    width: calc(100% - 220px);
    justify-content: center;
    gap: 24px;

}

.location-search div {
    position: relative;
}

.location-search input {
    padding: 16px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    outline: 0;
}

.fa-magnifying-glass {
    margin-right: 5px;
}

.fa-angle-down {
    width: 24px;
    position: absolute;
    right: 0;
    top: 30%;
}

/* Responsive for Mobile Device */
@media screen and (max-width: 600px) {

    .container {
        width: 92%;
    }

    nav {
        padding: 20px 0;
    }

    /* nav style */
    .company-title {
        font-size: 24px;
    }

    .nav-items {
        display: none;
    }

    .toggle-bar {
        display: block;
        font-size: 24px;
    }

    /* banner style */
    .banner {
        background-size: cover;
        padding: 32px 0;
    }

    .location-search {
        flex-direction: column;
        width: calc(100% - 48px);

    }

    .banner-title {
        font-size: 24px;
    }

    .banner-description {
        color: #ffffff;
        margin-bottom: 32px;
    }

}