/* font family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.text-primary {
    color: #131318;
}

.text-secondary {
    color: #5A5A5D;
}

.btn-primary {
    font-weight: 700;
    background-color: #FF5400;
    padding: 16px 35px;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}


/* nav section style  */
nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.company-title {
    font-size: 36px;
    font-weight: 800;
}

.nav-items {
    display: flex;
    gap: 44px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.toggle-bar {
    display: none;
}

/* banner style */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    padding: 106px 0;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-description {
    color: #ffffff;
    margin-bottom: 48px;
}

.location-search {
    padding: 16px;
    background-color: #ffffff70;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    width: calc(100% - 20%);
    justify-content: center;
    gap: 24px;
}

.location-search input {
    padding: 16px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    outline: 0;
}

.btn-location-search {
    height: 47px;
    font-weight: 700;
    background-color: #FF5400;
    padding: 16px 35px;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    width: 174px;
}

.fa-magnifying-glass {
    margin-right: 5px;
}

.location-search div {
    position: relative;
}

.fa-angle-down {
    width: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

/* popular tour section  */
.popular-tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.popular-tour-content {
    width: 100%;
}

.popular-tour-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular-tour-description {
    line-height: 26px;
    margin-bottom: 24px;
}

.tour-main-point {
    margin-left: 30px;
    margin-bottom: 24px;
}

.tour-main-point li {
    margin-bottom: 16px;
}

.popular-tour-img {
    width: 100%;
}

.popular-tour-img img {
    width: 100%;
}

/* destination section style */
.destination-container {
    margin-top: 100px;

}

.destination-content {
    text-align: center;
    margin-bottom: 48px;
}

.destination-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-description {
    margin: 0 200px;
}

.destination-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.destination-1 {
    grid-column: 1 / span 6;
}

.destination-2 {
    grid-column: 7 / span 6;
}

.destination-3 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
}

.destination-4 {
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;
}

.destination-5 {
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
}

.destination-6 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
}

.destination-7 {
    grid-column: 6 / span 7;
    grid-row: 3 / span 1;
}


.destination-img img {
    width: 100%;
    height: 100%;
}

.destination-img {
    position: relative;
}

.destination-location {
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive for Mobile Device */
@media screen and (max-width: 600px) {

    .container {
        width: 92%;
    }

    nav {
        padding: 20px 0;
    }

    /* nav style */
    .company-title {
        font-size: 24px;
    }

    .nav-items {
        display: none;
    }

    .toggle-bar {
        display: block;
        font-size: 24px;
    }

    /* banner style */
    .banner {
        background-size: cover;
        padding: 32px 0;
    }

    .location-search {
        flex-direction: column;
        width: calc(100% - 48px);

    }

    .banner-title {
        font-size: 24px;
    }

    .banner-description {
        color: #ffffff;
        margin-bottom: 32px;
    }

    .btn-location-search {
        width: 100%;
    }

    /* popular tour section style */
    .popular-tour-container {
        flex-direction: column;
        margin-top: 50px;
    }

    /* destination section style */
    .destination-title {
        font-size: 30px;
    }

    .destination-description {
        margin: 0 24px;
    }


    .destination-img-container {
        grid-template-columns: 1fr;
        grid-template-rows: 7fr;
    }

    .destination-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .destination-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .destination-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .destination-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .destination-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .destination-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .destination-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    .destination-img img {
        width: 100%;
        height: 335px;
        object-fit: cover;
        border-radius: 16px;
    }

}